body {
    background-image:linear-gradient(110deg,rgb(149, 239, 204),rgb(212, 245, 80));
 
  }
  
  .form {
    margin-left: 300px;
      margin-bottom: 20px;
  }
  
  #title {
    padding-left: 140px;
    font-size: large;
  }
  
  #inputText {
    width: 320px;
  }
  #submitTodo{
    cursor: pointer;
  }
  .todo-title{
    width: 320px;
  }
  .hideDiv{
    display: block;
   margin-right: 290px;
  }
  .text-area{
   width:340px;
   height:95px;
  }
  .checkbox{
   opacity: 0.5rem;
  }
  .priorityLabel{
 width: 10px;
 height:18px;
  }
  .prior{
    width:60px;
    height:20px;
  }
  .add-date{
    height: 18px;
  }
